### GP-{NNN}: TODO: Scenario Name

**Personas:** TODO

**Given:** TODO: Starting state
**When:**
1. TODO: Step 1
2. TODO: Step 2
**Then:**
- TODO: Expected result 1
- TODO: Expected result 2

**Boundary tests:**
- TODO: Edge case variant 1

**Error variant:**
- TODO: What happens when something goes wrong

**Traceability:** TODO: US-XXXX, TC-XXX-NNN
