### TC-{PREFIX}-{NNN}: TODO: Test Case Title

**Persona:** TODO
**Priority:** TODO: P0/P1/P2
**Story:** TODO: US-XXXX

**Preconditions:**
- TODO: Setup requirement 1

**Steps:**
1. TODO: Action 1
2. TODO: Action 2

**Expected Results:**
- TODO: Verifiable outcome 1
- TODO: Verifiable outcome 2

**Acceptance:** PASS if TODO: condition
